<%- include ("../partials/header") %>


<div class="row">
	<h1 style="text-align: center ; margin-left : 10%;">Interview Questionnaire</h1>
    <div style="width: 30%; margin: 25px auto;">
    	<form action="/interview" method="POST">
    		<div class="form-group">
    			<label for="Intro1">Name of the Company: </label>
    			<input class="form-control" type="text" name="Intro1" placeholder="Adobe">
    		</div>

    		<div class="form-group">
    			<label for="Intro2">Branch and Graduation Year: </label>
    			<input class="form-control" type="text" name="Intro2" placeholder="Branch-Year">
    		</div>

    		<div class="form-group">
    			<label for="Intro3">Profile Offered: </label>
    			<input class="form-control" type="text" name="Intro3" placeholder="Software Engineer">
    		</div>

    		<div class="form-group">
    			<label for="Intro4:">Package Offered: </label>
    			<input class="form-control" type="text" name="Intro4" placeholder="6.00 Lakhs per annum">
    		</div>

    		<div class="form-group">
    			<label for="Intro5">Job Location: </label>
    			<input class="form-control" type="text" name="Intro5" placeholder="New Delhi">
    		</div>

    		<div class="form-group">
    			<label for="Intro6">CGPA Cutoff: </label>
    			<input class="form-control" type="text" name="Intro6" placeholder="7.0">
    		</div>

    		<div class="form-group">
    			<button class="">Submit !</button>
    		</div>

    	</form>
    </div>
</div>    	
